.class_teachers { margin: 100px; }
.class_teachers table { 
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .class_teachers table th:last-child {
   text-align: right;
    
 }
 .class_teachers table .button {
    float:right;
    
 }