.pirmdiena { margin: 20px; }
.pirmdiena table { 
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .pirmdiena table th:last-child {
   text-align: right;
   padding-right: 40px;
    
 }
 .pirmdiena table .button {
    float:right;
    
 }
 h2{
     text-align: center;
 }