.container{
	display:grid;
	grid-auto-flow: row;	
}

.top, .footer {
	background-color: white;
	font-weight: bold;
	font-size: 30px;	
}

.top{
	text-align: left;
}

.footer{
	text-align: center;
	line-height: 20vh;
}

.middle{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 20fr 30fr 30fr 20fr;
	background-color: #e6f2ff;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
}

.middle > div {	
	line-height: 10vh;
	font-size: 30px;
}

.subjects, .times, .right{
	
	display:grid;
	grid-auto-flow:row;
	grid-template-rows:repeat(10, 1fr);
	margin-left:5rem;
}

.day, .time{
	font-size: 40px;
	color:blue;
}

img{
	width:20vw;
	height:20vh;
	margin-left:2vw;
	margin-top:2vh;
	margin-bottom:1vh;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	border:3px solid green;
}

