table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-weight: 600;
  color: var(--neutral-400);
  font-size: 13px;
  padding-bottom: 10px;
}

th, td { padding: 0 10px; }
td { height: 40px; }

th:last-of-type, td:last-of-type { text-align: right; }
td:last-of-type { padding-right: 0; }

tbody tr:nth-of-type(odd) { background: var(--neutral-50); }

.content table .button {
  border: none;
  background: none;
  width: auto;
  padding: 0 10px;
  margin: 0 !important;
  font-size: 15px;
}

.content table .button:hover {
  color: var(--neutral-0);
  background: var(--neutral-400);
}

.content table .button.button_error { color: var(--red-400); }
.content table .button.button_error:hover {
  color: var(--neutral-0);
  background: var(--red-400);
}

.content table .row_edit { background: var(--neutral-0);}
.content table .row_edit td { padding: 0; }

.content table .row_edit td input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--neutral-100);
  background: none;
  margin: 10px 0;
}
