header .current_class { font-size: 20px; }

.stundas {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.stundas h1 {
  font-size: 24px;
  margin: 0 0 40px;
  display: flex;
  align-items: center;
}

.stundas h1 span {
  margin-left: auto;
  font-size: 24px;
}

.stundas li {
  font-size: 32px;
  display: flex;
  padding: 10px 20px;
  border-radius: 4px;
}

.stundas li:nth-of-type(odd) { background: var(--neutral-50); }

.stundas li.nenotiek {
  color: var(--neutral-0);
  font-weight: 500;
  background: var(--red-500);
}

.stundas li.patreiz_notiek {
  font-size: 42px;
  padding: 20px 40px;
  margin: 0 -40px;
  background: var(--blue-500);
  color: var(--neutral-0);
}

.stundas .stunda { margin-right: auto; }
