<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/buttons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/color.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common/table.css')}}">
    
    
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <header>
      <div class="content_wrapper">
        <a href="{{url_for('home')}}" class="logo">
        <img src="{{url_for('static',filename='img/jtv_logo.svg')}}">
        </a>
        <nav>
          <a href="{{url_for('home')}}">Klašu saraksts</a>
          {% block links %}
          {% endblock %}
          <a href="{{url_for('login')}}">Iziet</a>
         
        </nav>
        
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
