{%extends 'layout.html'%}

{% block content %}
{% include 'partials/navigation.html' %}
<div class="content">
  <div class="content_wrapper">
    <table class="school_classes">
      <thead>
        <tr>
          <th class="klase">Nosaukums</th>
          <th class="audzinatajs">Audzinātājs</th>
          <th>Darbības</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
    <input class="button" type="button" value="Pievienot klasi">
  </div>
</div>
<script src="{{url_for('static',filename='js/klases.js')}}"></script>
{% endblock %}
