{%extends 'base1.html'%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/klase_tv.css')}}">
{% endblock %}
{% block title %}
Gudrs Gludeklis
{% endblock %}
{% block links %}
 <a href="{{url_for('skola')}}">Skola</a>
 <a href="{{url_for('klase_edit')}}">Labot klasi</a>
{% endblock %}
{% block content %}
  <div class="content">
      <div class="content_wrapper">
        <table class="school_classes">
          <thead>
           <tr>
             <th class="klase">Nosaukums</th>
             <th class="audzinatajs">Audzinātājs</th>
             <th>Darbības</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td class="klase"> 1.a</td>
              <td class="audzinatajs">Andris Bērziņš</td>
              <td>
                <div class="buttons">
                  <input class="button" type="button" value="Labot">
                  <input class="button button_error" type="button" value="Dzēst">
                </div>
              </td>
            </tr>
            <tr>
              <td class="klase"> 1.b</td>
              <td class="audzinatajs">Pēteris Skuja</td>
              <td>
                <div class="buttons">
                  <input class="button" type="button" value="Labot">
                  <input class="button button_error" type="button" value="Dzēst">
                </div>
              </td>
            </tr>
            <tr>
              <td class="klase"> 2.a</td>
              <td class="audzinatajs">Anna Panna</td>
              <td>
                <div class="buttons">
                  <input class="button" type="button" value="Labot">
                  <input class="button button_error" type="button" value="Dzēst">
                </div>
              </td>
            </tr>
            <tr>
              <td class="klase"> 2.b</td>
              <td class="audzinatajs">Valdis Liepa</td>
              <td>
                <div class="buttons">
                  <input class="button" type="button" value="Labot">
                  <input class="button button_error" type="button" value="Dzēst">
                </div>
              </td>
            </tr>
            <tr>
              <td class="klase"> 2.c</td>
              <td class="audzinatajs">Elita Bērziņa</td>
              <td>
                <div class="buttons">
                  <input class="button" type="button" value="Labot">
                  <input class="button button_error" type="button" value="Dzēst">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <input class="button" type="button" value="Pievienot klasi">
      </div>
    </div>
{% endblock %}




