{%extends 'base1.html'%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/skola.css')}}">
{% endblock %}
{% block title %}
Gudrs Gludeklis
{% endblock %}
{% block links %}
<a href="{{url_for('klases')}}">Klases</a>
{% endblock %}
{% block content %}
 <div class="content">
      <div class="content_wrapper">
        <form class="pamatinfo">
          <h2> Pamatinfo</h2>
          <input type="text" placeholder="Nosaukums">
          <fieldset>
            <label for="img">Izvēlies logo:</label>
            <input type="file" name="img" accept="image/*">
          </fieldset>
          <textarea placeholder="Apraksts"></textarea>
          <input class="button" type="submit" value="Saglabāt">
        </form>
        <div class="teachers">
          <h2>Pasniedzēji</h2>
          <table>
            <thead>
              <tr>
                <th class="vards">Vārds, uzvārds</th>
                <th class="epasts">E-pasts</th>
                <th class="tel">Tel. nr.</th>
                <th class="prieksmets">Priekšmets</th>
                <th>Darbības</th>
              </tr>
            </thead>

            <tbody></tbody>
          </table>
          <input class="button" type="button" id="pievieno" value="Pievienot pasniedzēju">
        </div>
      </div>
    </div>
    <script src="{{url_for('static',filename='js/skola.js')}}"></script>
{% endblock %}
